.movie{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  background-color: #036564;
  border-radius: 20px;
  p{
    color: whitesmoke;
    font-weight: bold;
    text-align: center;
  }
  &:hover{
    transition: transform .3s;
    transform: scale(1.1);
    box-shadow: 10px 5px 5px black;
  }
  .details-link{
    width: 200px;
    height: 40px;
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    &:hover{
      color: orange;
    }
  }
}